@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #ffffff;
    height: 97%;
}

.button {
    display: inline;
    color: #fff;
    background-color: #4d4d4d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: solid;
}

.button:hover {
    background-color: #999999;
}
.button a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

#timeline-view {
	width: 69%;
	min-height: 600px;
	max-height: 69%;
	float: left;
/*     background-color: #999999; */
}

#timeline {
	min-height: 600px;
	max-height: 600px;
	overflow-y: auto;
}

#dataset-info {
	width: 30%;
	max-height: 30%;
	margin-left: 70%;
	overflow: auto;
}

#pattern-view {
	width: 30%;
	max-height: 69%;
	margin-left: 70%;
/*     background-color: #888888; */
}

#pattern-list {
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	height: 600px;
	overflow: auto;
}

#patterns {
	list-style-type: none;
}

#patterns .pattern{
	margin: 15px;
}

#pattern-list .item {
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 3px;
	margin: 2px;
}

#chart-view {
	float: left;
	max-height: 60%;
	max-width: 100%;
	overflow: auto;
}

#chart-lift {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

.liftCell {
	float: left;
	width: 20px;
	height: 20px;
	border: solid;
	border-width: 1px;
}


.headerCell {
	height: 20px;
	float: left;
}

.vis-item {
	
}



/********************************/
/*								*/
/* 			New content 		*/
/*								*/
/********************************/


/********************************/
/* 			General Layout 		*/
/********************************/

#wrapper {
	width: 100%;
	height: 100%;
}

#left {
/* 	min-width: 30%; */
	max-width: 30%;
	min-height: 100%;
	max-height: 100%;
	background-color: lightblue;
	float: left;
}

#center {
	min-width: 40%;
	max-width: 40%;
	min-height: 90%;
	max-height: 90%;
	background-color: lightyellow;
	float: left;
}

#right {
	min-width: 30%;
	max-width: 30%;
	min-height: 90%;
	max-height: 90%;
	background-color: pink;
	float: left;
}

#bottom {
	min-width: 70%;
	max-width: 70%;
/* 	min-height: 10%; */
	max-height: 10%;
	background-color: lightgreen;
	float: right;
}

.leftAligned {
	float: left;
	margin-right: 10px;
}

.lastItem {
	margin-right: 0px;
}

.rightAligned {
	float: right;
}

.firstItem {
	margin-left: 0px;
}

/********************************/
/* 			Control tabs 		*/
/********************************/

/* Style the left-tabs */
ul.controlTabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.controlTabs li {float: left;}

/* Style the links inside the list items */
ul.controlTabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    transition: 0.3s;
}

/* Change background color of links on hover */
ul.controlTabs li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.controlTabs li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.controlTabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.controlTabContent p {
	text-align: left;
}

.controlTabContent input {
	float: right;
}

.controlTabContent input.numberInput {
	float: right;
	width: 100px;
}

#Trace button {
	width: 80%;
}

table {
	width: 100%;
}

.searchBarArea {
    overflow: hidden;
}

.searchBarArea input.searchButton {
	float: right;
}

.searchBarArea div {
    overflow: hidden;
    padding: 0 5px
}

.searchField {
	width: 100%;
}

/********************************/
/* 			Pattern tabs 		*/
/********************************/

/* Style the right-tabs */
ul.patternTabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.patternTabs li {float: left;}

/* Style the links inside the list items */
ul.patternTabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    transition: 0.3s;
}

/* Change background color of links on hover */
ul.patternTabs li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.patternTabs li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.patternTabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}