<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>ProgressivePatternMiningTool</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	
	<servlet>
		<servlet-name>DatasetListProvider</servlet-name>
		<servlet-class>com.raveneau.ppmt.server.DatasetListProvider</servlet-class>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>DatasetProvider</servlet-name>
		<servlet-class>com.raveneau.ppmt.server.DatasetProvider</servlet-class>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DatasetListProvider</servlet-name>
		<url-pattern>/datasetProvider</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatasetProvider</servlet-name>
		<url-pattern>/dataProvider</url-pattern>
	</servlet-mapping>
	
	<filter>
	  <filter-name>GzipFilter</filter-name>
	  <filter-class>com.raveneau.ppmt.server.GZipServletFilter</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>GzipFilter</filter-name>
	  <url-pattern>/dataProvider</url-pattern>
	</filter-mapping>
</web-app>